.Exercise_workout {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.Exercise_form {
  border: 1px solid black;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 600px;
  height: auto;
  margin: 100px auto;
}
.Exercise_title {
  font-size: 18px;
  text-align: center;
  background-color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 8px;
}

.Exercise_workout input,
.Exercise_workout label {
  display: block;
}

.Exercise_workout input {
  width: 80px;
  height: 20px;
}
.Exercise_workout select {
  height: 23px;
}
.Exercise_date input {
  width: 150px;
}
.add_exercise {
  display: block;
  margin: 0 auto;
}
.form_buttons {
  text-align: center;
}
.Exercise_button {
  width: 120px;
  height: 40px;
  margin: 6px;
}

.Exercise_summary {
  width: 330px;
  height: 100px;
}
input,
.Exercise_summary {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.3);
}
