.ExercisePageNav__back-button {
  display: block;

  margin: 100px auto;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 8px 16px;
  background-color: white;
  color: #242f40;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.ExercisePageNav__back-button:hover {
  background-color: #00edb1;
}
