.Header__Logged-in,
.Header__not-logged-in {
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 13px;
}
.Header_saying_1 {
  font-size: 12px;
}

.Header__Logged-in a,
.Header__not-logged-in a {
  margin: 8px;
}

.Header__Logged-in a:hover,
.Header__not-logged-in a:hover {
  color: #00edb1;
}
@media (min-width: 631px) {
  .Header__Logged-in,
  .Header__not-logged-in {
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 16px;
  }
  .Header_saying_1 {
    font-size: 16px;
  }
  .Header_saying_2 {
    font-size: 12px;
  }
}
@media (min-width: 900px) {
  .Header_saying_1 {
    font-size: 18px;
  }
  .Header_saying_2 {
    font-size: 16px;
  }
}
