.ExerciseListNav__list {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
}

.ExerciseListNav__weekday-link {
  text-align: center;
  font-family: "Londrina Outline", cursive;
  width: 100%;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #242f40;
  color: #e5e5e5;
  display: block;
  font-size: 4.5vw;
  margin: 12px auto;
  padding: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.ExerciseListNav__weekday-link:hover {
  color: #00edb1;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.ExerciseListNav__weekday-link.active {
  color: #00edb1;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ExerciseListNav__num-workouts {
  color: #000000;
  display: block;
  float: right;
  font-size: 10px;
}

.ExerciseListNav img {
  display: block;
  margin: 5px auto;
  width: auto;
  height: 180px;
}

@media (min-width: 429px) {
  .ExerciseListNav__weekday-link {
    font-size: 16px;
    padding: 10px 16px;
  }
}
@media (min-width: 631px) {
  .ExerciseListNav__list {
    margin: 60px 0 0;
  }
  .ExerciseListNav__weekday-link {
    margin: 18px auto;
    font-size: 32px;
  }
}
@media (min-width: 900px) {
  .ExerciseListNav__weekday-link {
    margin: 6% auto;
    /* padding: 12px 0 12px 12%; */
  }
}
