.ExerciseListNav__list {
  list-style-type: none;
  margin: 90px 0 0;
  padding: 0;
}

.ExerciseListNav__button-wrapper {
  margin: 0 0 0 auto;
  max-width: 5900px;
}

.ExerciseListNav__weekday-link {
  background-color: #242f40;
  color: #e5e5e5;
  display: block;
  font-size: 20px;
  margin: 28px 8px auto;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.ExerciseListNav__weekday-link:hover {
  color: #cca43b;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.ExerciseListNav__weekday-link.active {
  color: #cca43b;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ExerciseListNav__num-workouts {
  color: #000000;
  display: block;
  float: right;
  font-size: 10px;
}
