.Exercise_workout {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.Exercise_workout input,
.Exercise_workout label {
  display: block;
}

.Exercise_workout input {
  width: 80px;
  height: 20px;
}
.Exercise_workout select {
  height: 23px;
}
.Exercise_date input {
  width: 120px;
}
.add_exercise {
  display: block;
  margin: 0 auto;
}
.workout_unit {
  margin: 3px;
  text-align: center;
}
.form_buttons {
  text-align: center;
}
.Exercise_button {
  width: 120px;
  height: 40px;
  margin: 6px;
}
