.Exercisepage {
  background-color: #e5e5e5;
  height: 100%;
  padding: 10px;
  width: 100%;
}
.Exercisepage h1 {
  color: #363636;
}

.Exercisepage__summary {
  background-color: #363636;
  color: #e5e5e5;
  padding: 26px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.item-of-interest {
  font-size: 36px;
}

.Exercisepage__list-workout {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 36px;
}

.item-of-interest {
  color: #363636;
}
