.App {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.App__nav {
  background-color: #363636;
  color: #e5e5e5;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.App__nav h1 {
  text-align: center;
}

.App__header {
  background-color: #242f40;
  color: #fbfef9;
  text-align: center;
  padding: 20px;
}

.App__header a {
  color: #e5e5e5;
}

.App__main {
  background-color: #e5e5e5;
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}

.ExerciseList_add {
  background-color: black;
}
.App__title a {
  font-family: "Bungee Shade", cursive;
  background-color: #eeeeee;
  color: #00edb1;
  text-shadow: 2px 1px 2px black;
  text-decoration: none;
}
.App__title h2 {
  font-size: 40px;
}
