.Workout {
  --workout-height: 69px;
  background-color: #ffffff;
  color: #000000;
  height: var(--workout-height);
  padding: 8px 0 8px 8px;
  position: relative;
}
.Workout__delete:hover {
  background-color: #910101;
  color: white;
  cursor: pointer;
}
.Workouts__link-box {
  text-decoration: none;
}

.Workout__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  max-width: 80%;
  min-height: 24px;
}
.Workout__title a {
  color: #000000;
  /* display: block; */
}
.Workout__title a:hover {
  color: #ffb72f;
}
.Workout__delete {
  background-color: #949494;
  color: white;
  margin-left: 75%;
  border: none;
  height: 30px;
}
.Workout__dates {
  bottom: 8px;
  color: #a7a5a5;
  font-size: 14px;
  /* position: absolute; */
}
