.ExerciseList {
  padding-top: 10px;
}

.ExerciseList ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.ExerciseList li {
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  margin-bottom: 18px;
  border: 1px solid white;
}

.ExerciseList__button {
  margin: 0 auto 20px;
}
.ExerciseList__add-workout-button {
  display: block;
  width: 120px;
  margin: 0 auto;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 8px;
  background-color: white;
  color: black;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
}
.ExerciseList__add-workout-button:hover {
  transition: all 0.3s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
